{% load static %}
<link rel="stylesheet" href="{% static 'global/style.css' %}">
<link rel="stylesheet" href="{% static 'restaurant/css/meals.css' %}">


<div class="category-container">
    <h2 class="category-title">Filter by Categorys</h2>
    <ul>
        <li><a class="category-item" href="#">Pizza</a></li>
        <li><a class="category-item" href="#">Combos</a></li>
        <li><a class="category-item" href="#">Hamburguer</a></li>
        <li><a class="category-item" href="#">Soda</a></li>
        <li><a class="category-item" href="#">Spaguettis</a></li>
        <li><a class="category-item" href="#">Desserts</a></li>
        <li><a class="category-item" href="#">Combos</a></li>
        <li><a class="category-item" href="#">Pizza</a></li>
        <li><a class="category-item" href="#">Hamburguer</a></li>
        <li><a class="category-item" href="#">Soda</a></li>
        <li><a class="category-item" href="#">Spaguettis</a></li>
        <li><a class="category-item" href="#">Desserts</a></li>
    </ul>
</div>