{% load static %}
<link rel="stylesheet" href="{% static 'global/style.css' %}">
<link rel="stylesheet" href="{% static 'restaurant/css/meals.css' %}">



<div class="card-container">
    {% for meal in meals %}
        <div class="card">
            <div class="content">
                <section class="card-items">
                    <a href="{% url 'restaurant:meal-page' meal.id %}">
                        <h3 class="item" id="recipe-title">{{meal.title}}</h3>
                        <p class="item" id="author"><img style="width: 10px;" src="{% static 'restaurant/img/user_icon.png' %}" alt=""> {{meal.author}}</p>
                        <p class="item" id="description">{{meal.description}}</p>
                        <p class="item" id="price">R${{meal.price|floatformat:2}}</p>
                    </a>
                </section>
            </div>
            <figure class="card-img-container">
                <a href="{% url 'restaurant:meal-page' meal.id %}"><img src="{{meal.cover.url}}" alt="" class="card-img"></a>
            </figure>
        </div>
    {% endfor %}
</div>
