{% load static %}
<link rel="stylesheet" href="{% static 'global/style.css' %}">
<link rel="stylesheet" href="{% static 'restaurant/css/meal-view.css' %}">


<div class="meal-container">
    <section class="meal-header-container">
        <figure>
            <a href="{% url 'restaurant:home' %}"><img class="return-homepage-img" src="{% static 'restaurant/img/arrow-left.png' %}" alt=""></a>
        </figure>
        <h2 class="meal-header-title">Product Details</h2>
    </section>
    <div class="meal">
        <figure class="meal-img-container">
            <img src="{% static 'restaurant/img/test-img.jpg' %}" alt="" class="meal-img">
        </figure>
        <section class="meal-info">
            <h3 id="meal-title" >Meal Title</h3>
            <p id="meal-price" class="item">Price</p>
            <p id="meal-description" class="item">Description</p>
        </section>
    </div>
</div>