{% load static %}
<link rel="stylesheet" href="{% static 'global/style.css' %}">
<link rel="stylesheet" href="{% static 'restaurant/css/meals.css' %}">

<div class="title-container">
    <h2 class="title">Releases</h2>
</div>

<div class="main-content-container">
    <div class="card-container">
        <div class="card">
            <div class="content">
                <section class="card-items">
                    <h3 class="item" id="recipe-title">Title</h3>
                    <p class="item" id="author">Author</p>
                    <p class="item" id="description">Molho de tomate, mussarela, filé de camarão fresco (250g) em pedaços, cream cheese, cebolinho e molho teriyaki feito na casa.</p>
                    <p class="item" id="price">R$49.99</p>
                </section>  
            </div>
            <figure class="card-img-container">
                <img src="{% static 'restaurant/img/test-img.jpg' %}" alt="" class="card-img">
            </figure>
        </div>
    </div>
</div>