{% load static %}
<link rel="stylesheet" href="{% static 'global/style.css' %}">
<link rel="stylesheet" href="{% static 'restaurant/css/meal-view.css' %}">


<div class="meal-container">
    <section class="meal-header-container">
        <figure>
            <a href="{% url 'restaurant:home' %}"><img class="return-homepage-img" src="{% static 'restaurant/img/arrow-left.png' %}" alt=""></a>
        </figure>
        <h2 class="meal-header-title">Product Details</h2>
    </section>
    <div class="meal">
        <figure class="meal-img-container">
            <img src="{{meal.cover.url}}" alt="" class="meal-img">
        </figure>
        <section class="meal-info">
            <h3 class="item" id="meal-title" >{{meal.title}}</h3>
            <p id="meal-price" class="item">R${{meal.price|floatformat:2}}</p>
            <p id="meal-description" class="item">{{meal.description}}</p>
            <section class="btn">
                <button type="submit" class="add-order-btn">Add Order</button>
            </section>
            <div class="obs-header">
                <h3 class="obs-title">Observations</h3>
            </div>
            <section class="obs">
                <input class="obs-input" type="text" maxlength="200" placeholder="Make an observation... Ex: Add salad, remove onion" name="" id="">
            </section>
        </section>
    </div>
</div>