li{
    list-style: none;
    padding-bottom: 3px;
}


.main-content-container{
    display: flex;
}

.title-container{
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom: 25px;
}

.card-container{
    border-right: 1px solid rgba(128, 128, 128, 0.238);
    padding: 30px;
    display: grid;
    height: fit-content;
    width: fit-content;
    grid-template-columns: 550px 550px;
    justify-content: end;
}

.card{
    border-radius: 8px;
    margin: auto;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.301);
    height: fit-content;
    max-width: 480px;
    transition: 0.5s;
    margin-bottom: 40px;
    display: flex;
}

.card:hover{
    transform: scale(1.03);
    cursor: pointer;
}

.content{
    display: flex;
}

.card-items{
    padding: 20px;
}

.card-img{
    width: 200px;
    height: 180px;
}

.item{
    padding-bottom: 5px;
}

.category-container{
    height: 100vh;
    margin-top: 10px;
    width: fit-content;
    border-right: 1px solid rgba(128, 128, 128, 0.238);
    padding: 30px;
}

.category-item{
    color: black;
    text-decoration: none;
}

.category-item:hover{
    text-decoration: underline;
}

.category-title{
    padding-bottom: 10px;
}