.return-homepage-img{
    cursor: pointer;
    width: 18px;
}

.meal-container{
    padding: 50px;
    width: 80%;
    max-width: 100%;
    text-align: start;
}

.meal-header-container{
    gap: 20px;
    display: flex;
    padding: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.229);
}

.meal{
    border-radius: 3px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.168);
    padding: 30px;
    display: flex;
}

.meal-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    padding: 30px;
}

.meal-img{
    border-radius: 7px;
    height: 400px;
    width: 450px;
}

.item{
    padding-bottom: 10px;
}

#meal-price{
    font-size: 1.25em;
}

#meal-title{
    font-size: 1.7em;
}

#meal-description{
    font-size: 19px;
    color: gray;
}

.add-order-btn{
    margin: auto;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #1DA4FF;
    height: 40px;
    width: 400px;
}

.obs-header{
    border-radius: 4px;
    padding: 7px;
    margin-top: 20px;
    width: 400px;
    background-color: #EBEBEB;
}

.obs{
    padding: 10px;
}

.obs-input{
    padding: 5px;
    border: 1px solid rgba(128, 128, 128, 0.377);
    border-radius: 5px;
    height: 50px;
    width: 350px;
}
