.return-homepage-img{
    cursor: pointer;
    width: 18px;
}

.meal-container{
    padding: 50px;
    width: 90%;
    max-width: 100%;
    text-align: start;
}

.meal-header-container{
    gap: 20px;
    display: flex;
    padding: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.229);
}

.meal{
    padding: 20px;
    display: flex;
}

.meal-info{
    padding: 30px;
}

.meal-img{
    width: 450px;
}

#meal-price{
    font-size: 1.2em;
}

#meal-title{
    font-size: 1.7em;
}

#meal-description{
    font-size: 1em;
    color: gray;
}


