{% load static %}
<link rel="stylesheet" href="{% static 'global/style.css' %}">
<link rel="stylesheet" href="{% static 'global/partials/header.css' %}">

<header>
    <div class="header-container">
        <section class="promotions-container">
            <a class="link" href="{% url 'restaurant:home' %}">Home</a>
            <a class="link" href="#">Orders</a>
        </section>
        <input class="search-input" type="search" name="search" placeholder="What do you want to eat today?" id="">
        <nav class="account-links">
            <a class="link" href="#">Log in</a>
            <a class="link" href="#">Register</a>
        </nav>
    </div>
</header>